
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
body {
    line-height: 1.6;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .text-center {
    text-align: center;
  }

  .dialog-box {
    width: 400px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .dialog-box .dialog-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .dialog-box .dialog-header h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
  }
  
  .dialog-box .dialog-content {
    padding: 20px 0;
  }
  
  .dialog-box .dialog-footer {
    text-align: right;
  }
  
  .dialog-box .dialog-footer button {
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dialog-box .dialog-footer button:hover {
    background-color: #0056b3;
  }
  .nav-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  